-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtension: "japanese",

    top: {
      $heading: "トップ",
      $URI: "@All/Top/TopPage.japanese"
    },

    presets: { $heading: "プリセット" }

  };
