extends ../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/Minimal/MinimalLayout.pug


block append Requirements

  include ../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Yamato Daiwa Styles Guides"),
        description:
          "「Yamato Daiwa Styles Guides」と言うnpmパッケージは非常に厳しく、手抜きや自分の行動を理解していない事を許さない特性なので、" +
            "高品質開発での利用に向いている。"
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/Minimal/MinimalLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents",
        "@Pages/Top/TopPage"
      ]
    });

    RoutingEmulator.setCurrentRoute("top");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.top.$URI,
      russian: routing.russian.top.$URI
    });

    const localizedSectioning = localizedRouting.top.$sectioning;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  main.TopPage

    .TopPage-ImageAndTopHeadingGroup

      img.TopPage-ImageAndTopHeadingGroup-Image(
        src="@Shared/Icons/YDSG_Icon.svg"
        alt="「Yamato Daiwa Style Guides」のアイコン"
      )

      h1.TopPage-ImageAndTopHeadingGroup-Heading
        span.TopPage-ImageAndTopHeadingGroup-Heading-FirstLine Yamato Daiwa
        span.TopPage-ImageAndTopHeadingGroup-Heading-SecondLine Style Guides

    p.TopPage-ShortDescription-Heading.
      最大品質の開発専用ESLint・pug-lintの超厳しいプリセット

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/Top/Images/TopPage-MainVisual.japanese",
      imageAlternateText: "「Yamato Daiwa Style Guides」（略：「YDSG」）高品質開発専用のコード分析ツールの極厳設定",
      autoAspectRatioByYDA: true,
      geometry: SingleImageViewer__YDF.GeometricVariations.minimalistic,
      decoration: SingleImageViewer__YDF.DecorativeVariations.minimalistic
    }).TopPage-MainVisual

    +CompactTableOfContents--YDF_DK(localizedRouting).TopPage-TableOfContents
