-

  const routingRussianLocalization = {

    fileNameLocalizationExtension: "russian",

    top: {
      $heading: "Главная",
      $URI: "@All/Top/TopPage.russian"
    },

    presets: { $heading: "Готовые настройки" }

  };
