include ESLintPreset.toc.pug


-

  localizedRouting.presets.$children.ESLint.$sectioning = generatePageTableOfContents({

    ECMAScriptCommonRules: {
      $heading: "Common Rules for TypeScript and JavaScript",
      codeValidity: { $heading: "ECMAScript Code Validity" },
      algorithmicErrorsPreventing: { $heading: "Algorithmic Errors Preventing" },
      other: { $heading: "Other" }
    },

    typeScriptRules: {
      $heading: "TypeScript Rules",
      typeSafety: { $heading: "Typing Safety" }
    }
  });
