include ESLintPreset.toc.pug


-

  localizedRouting.presets.$children.ESLint.$sectioning = generatePageTableOfContents({
    ECMAScriptCommonRules: {
      $heading: "Common Rules for TypeScript and JavaScript",
      codeValidity: { $heading: "ECMAScript Code Validity" }
    }
  });
