include ESLintPreset.toc.pug


-

  localizedRouting.presets.$children.ESLint.$sectioning = generatePageTableOfContents({

    ECMAScriptCommonRules: {
      $heading: "Общие правила для TypeScript и JavaScript",
      codeValidity: { $heading: "Валидность ECMAScript-кода" },
      algorithmicErrorsPreventing: { $heading: "Предотвращение алгоритмических ошибок" },
      other: { $heading: "Другие правила" }
    },

    typeScriptRules: {
      $heading: "Правила для TypeScript",
      typeSafety: { $heading: "Безопасность типизации" }
    }

  });
