include ESLintPreset.toc.pug


-

  localizedRouting.presets.$children.ESLint.$sectioning = generatePageTableOfContents({
    ECMAScriptCommonRules: {
      $heading: "TypeScript・JavaScript共通規則",
      codeValidity: { $heading: "ECMAScriptコードの妥当性" }
    }
  });

