-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $heading: localization.top.$heading,
        $URI: localization.top.$URI
      },

      presets: {

        $heading: localization.presets.$heading,

        $children: {

          ESLint: {
            $heading: "ESLint",
            $URI: `@All/Presets/ESLint/ESLintPreset.${ localization.fileNameLocalizationExtension }`
          }

        }

      }

    };

    return localizedRouting;

  }
