-

  function generateSharedExternalLinks(localization) {

    /* [ Methodology ] Keep this variable to easily copy the qualified name by IntelliJ IDEA IDEs functionality. */
    const sharedExternalLinks = {

      yamatoDaiwaBackend: {
        npm: "https://www.npmjs.com/package/@yamato-daiwa/backend"
      }

    };

    return sharedExternalLinks;

  }
