-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $tableOfContentsTitle: localization.top.$tableOfContentsTitle,
        $URI: localization.top.$URI
      }
    };

    return localizedRouting;

  }
