include _HTML_PageMetadata.pug
include _generateLocalizedRouting.pug
include _generateSharedExternalLinks.pug

include Localizations/Russian/SharedExternalLinksLocalization.russian.pug

include ThirdPartyEmbeddableScripts/GoogleAnalyticsScript.pug


-

  RegularWebPageTemplate__YDF.metadata.locale = "ru";

  const localizedRouting = routing.russian;
  RoutingEmulator.initialize(localizedRouting);

  const sharedExternalLinks = generateSharedExternalLinks(sharedExternalLinksRussianLocalization);
