-

  const routingEnglishLocalization = {

    fileNameLocalizationExtension: "english",

    top: {
      $heading: "Top",
      $URI: "@All/index"
    },

    presets: { $heading: "Presets" }

  };
